/* Global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif;
  color: #ffffff;
}

/* App container */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #141519;
}

/* Rating form styles */
.rating-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #222731;
  color: white;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1.5rem;
}

.star-icon {
  width: 2rem;
  height: 2rem;
}

.rating-options {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.rating-option {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  background: #4a5568;
  color: #cbd5e0;
  transition: background 0.3s ease;
}

.rating-option.selected {
  background: #ed8936;
  color: white;
}

button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 1.5rem;
  background: #ed8936;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: white;
  color: #ed8936;
}

/* Thank you message styles */
.thank-you-message {
  width: 100%;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #222731;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1.5rem;
}


.thank-you-illustration {
  width: 6.5rem;
  height: 7rem;
}

.thank-you-message h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.thank-you-message p {
  font-size: 0.875rem;
  color: #a0aec0;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* Responsive styles for smaller screens */
  #root {
    padding-left: 0;
    padding-right: 0;
  }
  .rating-form,
  .thank-you-message {
    padding: 3.5rem;
    border-radius: 1rem;
  }
  .thank-you-message {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: #222731;
  }

  .rating-form {
    height: 70vh; /* Adjust form height for smaller screens */
    padding: 2rem;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .ratingForm {
    grid-template-columns: 1fr; /* Stack items vertically on smaller screens */
  }
  .thank-you-message {
    width: 100%;
    height: 70vh;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222731;
    padding: 0rem;
    gap: 0.5rem;
    border-radius: 1.5rem;
  }
}
